.wrap {
    width: 1024px;
    margin: 0 auto;
}

.deader {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 42px;
}

.deader img {
    height: 40px;
    width: 211px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 10px 30px 8px;
    text-decoration: none;
    color: #3F5D45;
    font-family: serif;
    font-weight: bold;
}

.menu a img {
    padding: 10px 10px;
}

.cart {
    padding: 0 30px;
}

.cart img {
    width: 24px;
    height: 24px;

}

.banner {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.content {
    display: flex;
}

.product-category {
    width: 300px;
    text-align: center;
    padding-left: 42px;
}

.product-category h1 {
    font-size: 24px;
    font-family: serif;
    font-weight: bold;
    padding: 16px 0;
    background: #3F5D45;
    color: #EAF0ED;
}

.product-category li a {
    font-size: 24px;
    display: block;
    font-family: serif;
    font-weight: bold;
    padding: 16px 0;
    color: #3F5D45;
    border: 1px solid #EAF0ED;
    text-decoration: none;
}

.product-category li a:hover {
    background: #EAF0ED;
}

.main {
    width: 620px;
    margin-left: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productlist {
    padding-bottom: 20px;
}

.choose {
    position: absolute;
    padding: 0px 20px;
}

.choose span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #EAF0ED;
    background: #3F5D45;
    font-family: serif;
    font-weight: bold;
    writing-mode: vertical-lr;
    width: 36px;
    height: 107px;
}

.favorite {
    position: absolute;
}

.favorite {
    padding-left: 258px;
    padding-top: 19px;
}

.namelist {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    color: #3F5D45;
}

.namelist li {
    width: 150px;
    padding: 14px 0;
    text-align: center;
    outline: 1px solid #eaf0ed;
}

.addcart {
    font-size: 24px;
    padding: 16px 90px;
    color: #3F5D45;
    font-family: serif;
    font-weight: bold;
    display: block;
    text-decoration: none;
    background: #EAF0ED;
    outline: 1px solid #eaf0ed;
}

.product li a:hover {
    background: gray;
}

.arrow {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 60px;
    justify-content: flex-end;
}

.pageslist {
    display: flex;
    align-items: center;
}

.pageslist a {
    font-size: 20px;
    padding: 18.5px 29px;
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: #3F5D45;
    border: 1px solid #EAF0ED;
}

.left {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #EAF0ED;
}

.right {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #EAF0ED;
}

.pageslist li a:hover {
    color: #EAF0ED;
    background: #3F5D45;
    border: 1px solid #3F5D45;
}

.left:hover {
    background: gray;
    outline: 1px solid gray;
}

.right:hover {
    background: gray;
    outline: 1px solid gray;
}